<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>Hello!</p>
    <p>You requested a password reset for your account at SB1 Market.</p>
    <p>Please click the link below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}/{{ url }}">Reset Password</a>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks,<br>SB1 Market Team</p>
</body>
</html>